.ThingPage {
    margin-top: 6px;
}

.TopContainer {
    display: flex;
    margin-bottom: 40px;
}

.Image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 968px;
    width: 100%;
    height: 552px;
}

.ThingInfo {
    max-width: 440px;
    width: 100%;
}

.ThingInfoTopContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
}

.ThingTitle {

}

.EditThingButton {
    color: var(--sub-color2);
    cursor: pointer;
}

.TaskDescription {
    margin-bottom: 11px;
}

.ThingDescription {
    font-style: italic;
    margin-bottom: 55px;
}

.ThingAddedDate {
    margin-bottom: 4px;
}

.CountCollectionsByThing {
    margin-bottom: 4px;
}

.OwnerProfile {

}

.OwnerProfileUsername {
    background: var(--color-select);
    color: var(--sub-color1);
    width: max-content;
}

.OwnerProfileUsername:hover {
    color: var(--sub-color2);
}

.BottomContainer {

}

.LabelThingList {
    color: var(--sub-color1);
    margin-bottom: 12px;
}

.RandomThingsList {

}

@media screen and (max-width: 1439px) {
    .TopContainer {
        border: 1px solid red;
        flex-direction: column;
        justify-content: center;
        margin-bottom: initial;
    }


}
