.SmartThingCell {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
}

.SmallThingCellHover {
  position: relative;
}

.Img {
  display: flex;
  align-items: center;
  justify-content: center;
}