.SmallThingCell {
    border: 1px solid var(--sub-color1);
    width: 89px;
    height: 89px;
    display: flex;
    justify-content: center;
}

.SmallThingCellHover {
    position: relative;
    border: 1px solid var(--main-color);
}

.Img {
    display: flex;
    align-items: center;
    justify-content: center;
}