.Frame {
    display: grid;
    grid-template-areas:
    "D D D D D D D D D"
    "C C C C C C C C C";
    grid-auto-columns: 88px;
    grid-gap: 32px;
}

.Description {
    grid-area: D;
    height: 74px;
}

.Content {
    grid-area: C;
    display: flex;
    gap: 88px;
}

.Col {
    grid-area: c1;
    display: flex;
    flex-direction: column;
}


.Title {
    font-size: 28px;
    line-height: 132%;
    /* identical to box height, or 37px */

    letter-spacing: -0.02em;
    margin-bottom: 16px;
}

.Img {
    display: flex;
    width: 352px;
    height: 240px;
    margin-bottom: 32px;
}

.Text {
    max-width: 351px;
}