.MainPage {
    display: grid;
    grid-template-areas:
    "M C C C C C C C C C C C C C C C";
    grid-auto-columns: minmax(auto, 88px);
    margin-top: 38px;
}

.Menu {
    grid-area: M;
}

.Menu > * {
    position: sticky;
    top: 96px;
}

.Content {
    grid-area: C;
}