.smallButton {
    width: 177px;
    height: 40px;

    background: var(--bg-color);
    border: 1px solid var(--main-color);

    cursor: pointer;
}

.smallButton:hover {
    color: var(--bg-color);
    background: var(--main-color);
}

.smallButton:active {
    padding-top: 3px;
}

.smallButton:disabled {
    text-decoration: line-through;
}