.ProfileInfo {
    display: grid;
    grid-template-areas:
    "U U U U D D D D D . T T T T T ."
    "N N N N D D D D D . T T T T T .";
    grid-template-columns: minmax(auto, 88px);
}

.Username {
    grid-area: U;
}

.Menu {
    grid-area: N;
    align-self: end;
}

.Label {
    margin-bottom: 24px;
}

.Label p {
    color: var(--sub-color2);
}

.Description {
    grid-area: D;
}

.Description > * {
    max-width: 372px;
}

.Traits {
    grid-area: T;
}

@media screen and (max-width: 768px) {
    .ProfileInfo {
        gap: 50px 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .ProfileInfo > * {
        min-width: min-content;
    }

    .Menu {
        align-self: center;
        order: 1;
    }
}