.RulesPage {
    display: grid;
    grid-template-areas:
    ". . . . C C C C C C C C C . .";
    grid-auto-columns: minmax(auto, 88px);
}

.Content {
    grid-area: C;
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 968px;
    z-index: 2;
    margin-bottom: 82px;
}

.Paragraph {

}

.Header {
    margin-bottom: 28px;
}


.Header * {
    font-size: 28px;
    line-height: 132%;
}

.Points {
    flex-direction: column;
    display: flex;
    gap: 8px;
}

.Point {
    display: flex;
}

.Number {
    margin-right: 72px;
}

.PointContent {
    max-width: 710px;
}