.FileLoadBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 236px;
    border: 1px solid var(--sub-color1);
}

.Bar {
    background: var(--sub-color1);
    width: 242px;
    height: 1px;
}

.Line {
    background: var(--main-color);
    width: 100px;
    height: 1px;
    transition: all 0.5s ease-out;
}