.letterButton {
    width: 28px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--bg-color);
    background-color: var(--main-color);

    cursor: pointer;
}