.EmptyCell {
    background: var(--bg-color);
    border: 1px solid var(--sub-color2);
    width: 177px;
    height: 177px;
    margin-bottom: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.EmptyCellHover {
    position: relative;
    border: 1px solid var(--main-color);
}
