.CellSkeleton {
    display: flex;
    flex-direction: column;
    max-width: 177px;
}

.Content {
    background: var(--bg-color);
    border: 1px solid var(--sub-color1);

    width: 177px;
    height: 177px;

    margin-bottom: 3px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: clip;
}

.ContentHover {
    position: relative;
    border: 1px solid var(--main-color);
}

.ContextMenu {
    align-self: end;
    position: absolute;
    margin-bottom: -1px;
}

.CellTitle {
    width: max-content;
    color: var(--main-color);
    background: var(--color-select);
    margin-bottom: 6px;
}

.Remark {
    color: var(--sub-color2);
    font-style: italic;
    padding-left: 2px;
}

.CellDescription {

}

.Clickable {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}