[theme="light"] {
    --bg-color: #F8F8F8;
    --bg-text: #FFFFFF;

    --main-color: #2F2F33;
    --error-color: #FF0000;

    --sub-color1: #D9D9D9;
    --sub-color2: #AAAAB0;

    --bg-select-color: #1b1b1e;
    --color-select: white;

    --bg-modal: rgba(217, 217, 217, 0.8);

    --link-hover: #97C7F2;

    --header-shadow: rgba(231, 234, 239, 0.8);
}

[theme="dark"] {
    --bg-color: #212121;
    --bg-text: #333333;

    --main-color: #c3c3d3;
    --error-color: #FF0000;

    --sub-color1: #424242;
    --sub-color2: #68686c;

    --bg-select-color: #ffffff;
    --color-select: #1b1b1e;

    --bg-modal: rgba(59, 59, 59, 0.8);

    --link-hover: #ffe0a6;

    --header-shadow: rgba(28, 28, 30, 0.8);
}