:root {
    --bg-color: #2f2f2f;
    --main-color: #ababbe;
    --sub-color: #505050;
    --error-color: #ff0000;
    --disable-color: #626269;

    --bg-color-select: #ffffff;
    --color-select: #000000;
    --bg-color-text: #383838;
}