.AboutPage {
  display: grid;
  grid-template-areas: ". . . . C C C C C C C C C . .";
  grid-auto-columns: 88px;

  @media screen and (max-width: 768px) {
    display: flex;
  }
}

.Content {
  grid-area: C;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;

  @media screen and (max-width: 768px) {
    margin-top: 36px;
  }
}

.B {
  font-size: 28px;
  line-height: 100%;

  letter-spacing: -0.02em;

  @media screen and (max-width: 768px) {
    justify-content: initial;
    flex-direction: column;
  }
}

.Sub {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    justify-content: initial;
    flex-direction: column;
  }
}

.Sub p {
  width: 352px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-align: left;
}

.Watch:hover {
  color: var(--sub-color2);
}

.gif {
  width: 792px;
  height: 415px;
  margin-bottom: 12px;
  overflow: clip;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px) {
    width: initial;
    height: initial;
  }
}