.DescriptionField {
    position: relative;
    height: 162px;
    border: 1px solid var(--sub-color1);
    padding: 8px;
}

.InputField {
    font-style: italic;
    height: 100%;
    width: 100%;
    resize: none;
}

.InputField::placeholder {
    color: var(--sub-color1);
}

.LetterCounter {
    position: absolute;
    right: 8px;
    top: 132px;
    color: var(--sub-color1);
}