.chart {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    position: absolute;
    width: 1px;
    height: 120%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vector {
    width: 4px;
    height: 100%;
    clip-path: polygon(20% 50%, 50% 0, 80% 50%, 50% 100%);
    background: var(--main-color);
}