.ProfileTaskModal {
    overflow-y: scroll;
    overflow-x: hidden;
    background: var(--bg-color);

    width: 384px;
    height: 600px;
}

.ModalWrap {
    padding: 15px 15px 67px 15px;
}

.ProfileTaskModalHeader {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 5px;
}

.TaskOrdinalNumber {
}

.TaskDescription {
    margin-bottom: 12px;
}

.TaskDetails {
    font-style: italic;
    font-size: 18px;
    color: var(--sub-color2);
    line-height: 120%;
    margin-bottom: 12px;
}

.DropArea {
    margin-bottom: 26px;
}

.FileLoadBar {
    margin-bottom: 26px;
}

.ThingEditor {
    margin-bottom: 26px;
}

.SaveButton {
    position: absolute;
    width: 100%;
    bottom: 0;
}