.ZeroTask {
    display: flex;
    justify-content: center;
}

.Content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 200px;
    flex: 1;

    gap: 100px 0;
}

/* -------- */
.Task {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 528px;
}

.TaskDescription {
    text-indent: 88px;
    margin-bottom: 43px;
}

.Questions {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* -------- */
.Interface {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    max-width: 528px;
    align-items: end;
}

.BtnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.BtnStart {
    width: 352px;
}

.BtnArrow {

}

.BtnLabel {

}

@media screen and (max-width: 768px) {
    .Interface {
        align-items: center;
    }
}