.donate-now label,
.donate-now input {
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: flex;
    width: 100px;
    height: 50px;
    border: 1px solid #CCC;
    padding: 0;
    cursor: pointer;
}

.donate-now input[type="radio"] {
    display: none;
}

.donate-now label:hover {
    background: #DDD;
}

.donate-now input[type="radio"]:checked + label {
    background: yellow;
}

.Question {
    display: flex;
    gap: 12px;
}

.Question input[type="radio"] {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
}

.Option {
    position: relative;
    width: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--sub-color1);
    padding: 16px 19px;
    min-height: 88px;
}

.QuestionTitle {
    margin-top: 50px;
    margin-bottom: 4px;
}

.Option p {
    text-align: center;
}

.Option:has(input[type="radio"]:checked) {
    border: 1px solid var(--main-color);
}

.Option:has(input[type="radio"]:hover) {
    border: 1px solid var(--main-color);
}

