/*@import "normalize.css";*/
@import "/src/reset.css";
@import "/src/themes/_index.css";

a, li, img, textarea, input, p {
    font-family: 'Times New Roman', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.03em;
    color: var(--main-color);

    overflow-wrap: break-word;
    font-feature-settings: "liga" 0, "rlig" 0, "dlig" 0, "hlig" 0, "smcp" 0;
    -webkit-line-break: after-white-space;
    white-space: pre-wrap;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: var(--bg-color);
}

img {
    user-select: none;
}

* {
    scrollbar-width: none;
}

*::selection {
    background-color: var(--bg-select-color);
    color: var(--color-select);
}

*::-webkit-scrollbar {
    display: none;
}

#w {
    color: var(--bg-select-color);
    background: var(--color-select);
    width: max-content;
}