.FilledThingCell {
    background: var(--bg-color);
    border: 1px solid var(--sub-color1);
    width: 177px;
    height: 177px;
    margin-bottom: 4px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.FilledThingCellHover {
    position: relative;
    border: 1px solid var(--main-color);
}

.FilledThingCellMenu {
    position: absolute;
    align-self: end;
    margin-bottom: -1px;
}